<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="bdFCCxCEntities" connectionString="metadata=res://*/ModelCxC.csdl|res://*/ModelCxC.ssdl|res://*/ModelCxC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vtec-dev;initial catalog=bdFCCxC;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>