
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h4>El "Sistema Finaciero-Cuentas por Cobrar" permite el mantenimiento, registro de bienes y servicios, y el pago de los conceptos para un socio específico.</h4>
</div>

