<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--Variables globales del sistema (TEC)-->
    <add key="CodigoUsuarioLogueado" value="0"/>
    <add key="UsuarioLogueado" value=""/>
    <add key="SessionID" value="1"/>
    <add key="DirPaginaInvalida" value="PaginaInvalida"/>
    <add key="CodigoAplicacionLogueado" value="15"/>
    <add key="CodigoParametroRolAdministrador" value="9"/>
    <add key="UsuarioAplicacionLogueado" value="app_LicenciamientosInstitucionales"/>
    <add key="ContrasenaUsuarioAplicacionLogueado" value="appL1c3n1NST1y89pr"/>
    <add key="UsuarioCorreoSW" value="Usr_SistLicencias"/>
    <add key="ContrasenaUsuarioCorreoSW" value="L1c3nc1.@"/>
    <add key="TipoPermiso" value="2"/>
    <add key="extITCR" value="itcr.ac.cr"/>
    <add key="extTEC" value="tec.ac.cr"/>
    <add key="exESTUDTEC" value="estudiantec.cr"/>
    <add key="tipoFuncionario" value="1"/>
    <add key="tipoEstudiante" value="2"/>
    <add key="tipoambos" value="3"/>
    <add key="ParametroEstadoRenovacion" value="7"/>
    <add key="ParametroDiasVencimiento" value="8"/>
    <add key="ParametroEstadoInactivo" value="3"/>
    <add key="ParametroPeriodicidadPermanente" value="2"/>
    <add key="aspnet:MaxJsonDeserializerMembers" value="2147483647"/>

    <!--valores que dependen de la ruta de instalación-->
    <add key="UrlRenovar" value="http://vtec-appspruebas/PRUEBAS_LicenciasTEC"/>
  </appSettings>
<!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <!--
  <add name="LicenciamientoEntities" connectionString="metadata=res://*/Modelo.Licenciamiento.csdl|res://*/Modelo.Licenciamiento.ssdl|res://*/Modelo.Licenciamiento.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vtec-dev;initial catalog=bdLicenciamiento;persist security info=True;user id=USR_Licenciamiento;password=L1c3nc14m13nt01;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  -->
  <connectionStrings>
    <add name="LicenciamientoEntities" connectionString="metadata=res://*/Modelo.Licenciamiento.csdl|res://*/Modelo.Licenciamiento.ssdl|res://*/Modelo.Licenciamiento.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vtec-basescert;initial catalog=BDLicenciamiento;persist security info=True;user id=USR_Licenciamiento;password=l1c3n@573c;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  
  
<!--Configuración servicios WCF-->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_TEC_IWCF_Seguridad" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://tec-apps/WCFSeguridadTEC/ServiciosWeb/TEC_WCF_Seguridad.svc" 
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_TEC_IWCF_Seguridad" 
                contract="WCF_Seguridad.TEC_IWCF_SeguridadTec" name="BasicHttpBinding_TEC_IWCF_Seguridad" />

    </client>
  </system.serviceModel>
</configuration>


