.datosSocio {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #87CEFA;
    width: 600px;
    padding: 12px;
    margin: 10px 0px;
    font-family:'handwriting', 'sans-serif';  
    font-size: 20px;
    z-index:100;
  }
