/*Archivo con los estilos asociados a Formulario de Consulta y Edicion*/

/* Formulario */
.Formulario {
  width: 100%;
  max-width: 800px;
  padding: 15px;
  margin: auto;
  height: 100%;
}

.TituloPrincipal{
  padding: 25px 0px 25px 0px;
  font-size:35px;
  font-weight: bold;
  font-family:'handwriting', 'sans-serif';    
  color:#414141;
}

.bloque_alineado > *{
  display: inline-block;
}

.contenido_centrado {
  align-items: center;
  text-align: center;
}

.enlinea { 
  display: inline-block; 
}

.enlinea2 { 
  border: 1px solid red;
  margin:10px;
  float:left;/*Add float left*/
  margin :10px;
}

.contenidoCentrado {
  text-align: center;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.paddingMargin {
  padding: 0px 0px 16px 0px !important;
}

/*Body*/
.content
{
    position:absolute;
    top: 120px;
    left:0px;
    right:0px;
    bottom:0px;
    overflow-y:scroll;        
}

/*Componentes: Label, Inputs, Button, otros*/
label {
  font-size:18px;
  font-family:'handwriting', 'sans-serif';    
}

.center-div-cargando
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-blanco);
  border-radius: 3px;
  border-color: darkblue;
}


.select {
  width:220px;
  padding:5px; 
  border:2px solid #ccc; 
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size:18px;
  font-family:'handwriting', 'sans-serif';     
}

input[type=text] {
  width:220px;
  padding:5px; 
  border:2px solid #ccc; 
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size:18px;
  font-family:'handwriting', 'sans-serif';     
}

input[type=text]:focus {border-color:#333; }
  
/*input[type=submit] {padding:5px 15px; background:#ccc; border:0 none;
      cursor:pointer;
      -webkit-border-radius: 5px;
      border-radius: 5px; }
 */     

 .button {padding:5px 15px; background:#ccc; border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.option {
  font-size:18px;
  font-family:'handwriting', 'sans-serif';  
}

.textarea {
  padding:5px;
  /*margin  : 10px 0 0 -10px;*/
  width   : 190px;
  height: 150px;
  resize  : none;
  overflow: auto;
  border:2px solid #ccc; 
  margin: 10px 0px;
}

.textareaFormulario {
  padding:5px;
  /*margin  : 10px 0 0 -10px;*/
  width   : 330px;
  height: 120px;
  resize  : none;
  overflow: auto;
  border:2px solid #ccc; 
  margin: 10px 0px;
}

.textareaModal {
  padding:5px;
  /*margin  : 10px 0 0 -10px;*/
  width   : 400px;
  height: 80px;
  resize  : none;
  overflow: auto;
  border:2px solid #ccc; 
  margin: 10px 0px;
}

/*datepicker input*/
.react-datepicker__input-container input {
  display: block;
  width:220px;
  padding:5px; 
  border:2px solid #ccc; 
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size:18px;
  font-family:'handwriting', 'sans-serif';  
}

.fuenteEntrada {
  font-size:18px;
  font-family:'handwriting', 'sans-serif';  
}

.espaciado {
  padding:5px;
  margin  : 10px 10px 10px 10px;
}

/*Pie de Pagina*/
.EspacioFooter {
  height: 50px;
}

/*Errores y mensajes*/
.stickyMsg {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: rgb(147, 236, 169);
  padding: 12px;
  margin: 10px 0px;
  font-size: 20px;
  font-family:'handwriting', 'sans-serif';  
  z-index:200000;
}

/*Errores*/
.msg_error {
  margin: 10px 0px;
  padding:12px;
  color: #D8000C;
  background-color: #FFD2D2;
  position: relative;
}

.stickyError {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #FFD2D2;
  padding: 12px;
  margin: 10px 0px;
  font-family:'handwriting', 'sans-serif';  
  font-size: 20px;
  z-index:100;
}

.btn-close-error {
  color: black;
  font-size: 20px;
  text-decoration: none;
  padding:10px;
  position: absolute;
  right: 1px;
  top: 0;
}

a:hover {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

.enlace:hover {
  text-decoration: none;
  cursor: pointer;
}

/* Pop Up */

.ModalGeneral {
  font-family: sans-serif;
  text-align: "center"
}

.hiddenRow {
  padding: 0 !important;
}
/*Formularios y Modals*/
.columnaFormulario{
  vertical-align:middle;
}

.etiqueta, .componente {
  display: inline-block;
  vertical-align: middle
}

/*Prueba*/
.project-container {
  text-align: center; /* set all inline elements to be centered */
  vertical-align: middle
}

.project-container .proj {
 display: inline-block; /* set the columns to inline blocks so they are centered */
 float: none;
}

/* CSS used here will be applied after bootstrap.css */
.container {
  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
}


.row {
  align-items: center;
  display: flex;
}

#myinnercontainer { vertical-align:middle}

.etiquetaFormulario {
  padding: 0;
  font-size:18px;
  font-family:'handwriting', 'sans-serif';    
}